<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Veronica Yan</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
  </head>
  <body>
    <div id="header">
        <h1>Veronica Yan</h1>
    </div>
    <br/>
    <div id="content">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
